@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use 'sass:color'

// Header principal
header
  // Navigation
  nav
    background-color: $primary-color
    width: 100%
    border-bottom: 1px solid $border-color
    position: sticky
    top: 0
    margin: 0 auto
    padding: 0 $spacing-md
    display: flex
    justify-content: space-evenly
    align-items: center
    min-height: $header-height
    z-index: 100
    flex-wrap: wrap

    @include box-shadow()

    @include mobile
      padding: $spacing-sm $spacing-sm


    a
      padding: $spacing-sm $spacing-md 0.15rem $spacing-md
      @include transition()
      font-weight: 500
      color: $text-color
      border-bottom: 2px solid transparent

      &:hover,
      &:focus,
      &.active
        border-bottom: 2px solid $text-color

      &.active
        font-weight: 600
        color: $text-color

      @include mobile
        font-size: 14pt
        padding: $spacing-sm $spacing-sm 0.15rem $spacing-sm

  // Hero section
  .landing-hero
    background: linear-gradient(135deg, color.scale($primary-color, $lightness: 20%), $primary-color)
    width: 100%
    padding: $spacing-md 0
    margin: 0
    display: flex
    align-items: center

    .hero-content
      max-width: $max-width
      margin: 0 auto
      padding: 0 
      display: flex
      gap: $spacing-md
      align-items: center

      @include tablet
        flex-direction: column
        gap: $spacing-xl
        text-align: center

      @include mobile
        flex-direction: column
        gap: 0
        text-align: center
      
      .hero-text
        padding: $spacing-md
        @include mobile
          padding-bottom: 0
          padding-top: 0
        h1
          height: 100%
          color: $text-color
          font-size: $font-size-h2
          font-weight: 700
          line-height: 1.1
          letter-spacing: 2px
        
          @include mobile
            font-size: $font-size-h2

        .hero-subtitle
          padding: $spacing-md
          font-size: $font-size-large
          color: $text-color
          margin-bottom: 0
          line-height: 1.4
          text-align: center
          
          @include mobile
            font-size: $font-size-base
      
      .hero-image
        padding: $spacing-md
        display: flex
        justify-content: center
        @include mobile
          padding: 0
        
        img
          max-width: 300px
          height: auto
          transition: transform 0.3s ease
          border-radius: 20px
          @include mobile
            width: 80%
            min-width: 200px
            padding: 0
          
          &:hover
            transform: scale(1.05)

